@import "../sass/components/global";

//== CSS ========================================
:root {
  --light_color: #f2f2f2;
  --primary-color:#1F487E;
  --second-color:#FB3640;
  --third-color:#247BA0;

  --dark_color: #333;

// Color sistem
  --light_color_aux: #ccc;
  --sucess_color: green;
  --range_color: red;
  --primary_color: blue;

}
//== SASS ========================================

$color: #ccc;

$primary-color: #1F487E;
$second-color:#eef092;
$third-color:#247BA0;

// Color sistem SASS
$light_aux_color: #ccc;
$sucess_color: green;
$range_color: red;
$primary_color: blue;

// _function--color-muda cor do texto de acordo com primary color

@function set-text-color($color) {
  @if lightness($color) > 70 {
      @return #333;
  }
  @else {
      @return #fafafa;
  }
}

//== BODY ========================================

  body {
    background-color: var(--light_color);
    color: var(--dark_color);

    &.dark  {
      background-color: var(--dark_color);;
      color: var(--light_color_aux);
    }
    
  }